.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 255px;
  flex-grow: 1;
}

.card:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card-header {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 120%;
}

.card-header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.card-text {
  margin-top: 0;
  margin-bottom: 5px;
}
